.button {
    -fx-pref-height: 40;
    -fx-pref-width: 80;
}

#propPane {
    -fx-alignment: center;
}

#propPane * {
    -fx-padding: 0px 5px 0px;
    -fx-border-insets: 0px 5px 0px;
    -fx-background-insets: 0px 5px 0px;
}

/*#left * {*/
/*    -fx-padding: 0px 5px 0px;*/
/*    -fx-border-insets: 0px 5px 0px;*/
/*    -fx-background-insets: 0px 5px 0px;*/
/*}*/

#findBtn {
    -fx-background-image: url("/pics/find.png");
}

#nodePropPane {
    -fx-alignment: center;
}

#nodePropPane .text-field {
    -fx-pref-height: 40;
    -fx-pref-width: 200;
}

#nodePropPane .label {
    -fx-text-alignment: right;
}
