.button {
    -fx-pref-height: 40;
    -fx-pref-width: 80;
}

.text-field {
    -fx-pref-height: 40;
    -fx-pref-width: 200;
}

#propPane {
    -fx-alignment: center;
}

#propPane * {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets:5px;
}

#connectBtn {
    -jfx-button-type: FLAT;
    -fx-background-color: #458030;
    -fx-text-fill: white;
}

#disconnectBtn {
    -jfx-button-type: FLAT;
    -fx-background-color: #ff6921;
    -fx-text-fill: white;
}

#left {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

#findBtn {
    -fx-background-image: url("/images/find.png");
    -jfx-button-type: FLAT;
}

#urlDecodeCheckBox {
    -jfx-checked-color: blue;
}

#nodePropPane {
    -fx-alignment: center;
}

#nodePropPane .label {
    -fx-text-alignment: right;
}

#addNodePane {
    -fx-alignment: center;
}

#enterBtn {
    -jfx-button-type: FLAT;
    -fx-background-color: #458030;
    -fx-text-fill: white;
}

#cancelBtn {
    -jfx-button-type: FLAT;
    -fx-background-color: #ff6921;
    -fx-text-fill: white;
}
